.header {
   border-bottom: 1px solid $gray-line;
   padding: 40px 0;

   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__logo {
      display: flex;

      img {
         margin-right: 15px;
      }

      h1 {
         color: #181818;
         font-size: 24px;
         letter-spacing: 1%;
         text-transform: uppercase;
         font-weight: 800;
      }

      p {
         color: #7b7b7b;
      }
   }

   @media screen and (max-width: 768px) {
      padding: 25px 0 20px;

      &__logo {
         max-width: 220px;
      }
   }

   @media screen and (max-width: 576px) {
      .container {
         flex-direction: column;
         row-gap: 25px;
         align-items: start;
      }

      &__logo {
         max-width: unset;
         justify-self: unset;
      }

      &__cart {
         margin: 0 auto;
      }
   }
}
